<h1>Add new page</h1>
<div class="container">

<div id="text">
  <div class = "optionClass" *ngFor="let option of options" style="display: inline; margin-left:10px; ">
       <br/><input type="radio" name="option" [value]="option" (change)="radioChange($event)" [checked]="selectedOption === option">{{option}}
  </div>
</div>

<div class = "opt">
<div class="form-container">

  <form class="text-center " [formGroup]="addRentalForm"  *ngIf="selectedOption === 'Rental'">

    <input type="date" class="form-control mb-4" formControlName="dStartDate"/>

    <input type="number"  class="form-control mb-4" placeholder="Period" formControlName="period"
         autocomplete="off"  >

    <select class="browser-default custom-select form-control mb-4" formControlName="carId" id="carSelect">
        <option selected value="-1">Select car</option>
        <option *ngFor="let car of cars" [value]="car.id">
            {{car.model}}
        </option>
    </select>

    <select class="browser-default custom-select form-control mb-4 " formControlName="clientId" id="clientSelect">
        <option selected value="-1">Select client</option>
        <option *ngFor="let client of clients" [value]="client.id">
            {{client.id}}
        </option>
    </select>
  </form>

</div>

<div class = "opt">
  <form class="form-container text-center  " [formGroup]="addCarForm" *ngIf="selectedOption === 'Car'">

    <input type="text"  class="form-control mb-4" placeholder="Model" formControlName="model"
         autocomplete="off" >

    <select class="browser-default custom-select form-control mb-4" formControlName="shopId" id="shopSelect">
        <option selected value="-1">Select shop</option>
        <option *ngFor="let shop of shops" [value]="shop.id">
            {{shop.name}}
        </option>
    </select>
  </form>
</div>

  
<div class = "opt">
  <form class="form-container text-center  " [formGroup]="addCityForm"  *ngIf="selectedOption === 'City'">

    <input type="text"  class="form-control mb-4" placeholder="Name" formControlName="name"
         autocomplete="off" >

    <input type="text"  class="form-control mb-4" placeholder="Country" formControlName="country"
    autocomplete="off" >


  </form>
</div>
  
<div class = "opt">
  <form class="form-container text-center  " [formGroup]="addClientForm"  *ngIf="selectedOption === 'Client'">

    <input type="text"  class="form-control mb-4" placeholder="cnp" formControlName="cnp"
    autocomplete="off" >

    <input type="text"  class="form-control mb-4" placeholder="First Name" formControlName="firstName"
         autocomplete="off" >

    <input type="text"  class="form-control mb-4" placeholder="Last Name" formControlName="lastName"
    autocomplete="off" >

    <input type="text"  class="form-control mb-4" placeholder="Address" formControlName="address"
    autocomplete="off" >

  </form>
</div>

<div class = "opt">
  <form class="form-container text-center  " [formGroup]="addShopForm"  *ngIf="selectedOption === 'Shop'">

    <input type="text"  class="form-control mb-4" placeholder="Name" formControlName="name"
         autocomplete="off" >

    <select class="browser-default custom-select mb-4 form-control" formControlName="cityId" id="citySelect">
        <option selected value="-1">Select city</option>
        <option *ngFor="let city of cities" [value]="city.id">
            {{city.name}}
        </option>
    </select>

  </form>
  </div>




  <button mdbBtn color="danger" block="true"  type="submit" (click)="add()" [disabled]="currentFormRef.invalid" >Add</button>
    <p *ngIf="success" style="color: green; font-size: 22px;">{{selectedOption.toUpperCase()}} added successfully</p>
    <p *ngIf="success === false" style="color: red; font-size: 22px;">Something went wrong, please try again</p>
</div>
</div>

