#header {
    margin-top: 20px;
}

.container {
    margin-left: 130px;
    padding-left: 100px;
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: grey;
    border-radius: 25px;
    width: 85%;
    color:white;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    padding-bottom: 1px;
}