
    <div id="header" style="text-align:center">
      <h2>Assistance</h2>
      <p>For any questions or problems regarding the application, please contact the developers at:</p>
    </div>
    <div class="container" style="text-align: left">
      <h3>Stan Cristina</h3>
      <p>Email: stancristina@gmail.com</p>
      <p>Phone Number: 0712 345 678</p>
      <p>Github: https://github.com/stancristina</p>
    </div>
    <div class="container" style="text-align: left">
        <h3>Voinea Alexandru</h3>
        <p>Email: alexandruvoinea@gmail.com</p>
        <p>Phone Number: 0712 345 678</p>
        <p>Github: https://github.com/alexandruvoinea</p>
      </div>
    <div class="container" style="text-align: left">
        <h3>Pilica Alexandru</h3>
        <p>Email: alexandrupilica@gmail.com</p>
        <p>Phone Number: 0712 345 678</p>
        <p>Github: https://github.com/alexandrupilica</p>
    </div>