<div class="container">
    <div style="text-align:center">
      <h2>Our Contact Details!</h2>
      <p>Come see us at one of our listed locations, and make sure to shoot us a message beforehand:</p>
    </div>
    <div class="row">
      <div class="column">
          <google-map></google-map>
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="sucursala">Location</label>
          <select id="sucursala" name="sucursala">
            <option value="bucuresti.afi">Bucharest, B-dul Vasile Milea </option>
            <option value="bucuresti.mega">Bucharest, MegaMall</option>
            <option value="bucuresti.cora">Bucharest, Cora Alexandria</option>
            <option value="bucuresti.titan">Bucharest, ParkLake</option>
            <option value="cluj.1">Cluj, Iulius Mall</option>
            <option value="cluj.2">Cluj, Cluj Arena</option>
            <option value="cluj.3">Cluj, Sala Polivalenta</option>
            <option value="timisoara">Timisoara, Bega Shopping Center</option>
            <option value="any">Any</option>
          </select>
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>